In [68]:
import pandas as pd
from pathlib import Path

In [69]:
df_schools = Path("Resources/schools_complete.csv")
df_students = Path('Resources/students_complete.csv')
print(df_schools)
print(df_students)

Resources\schools_complete.csv
Resources\students_complete.csv

In [113]:
data_schools_df =pd.read_csv(df_schools)
data_students_df = pd.read_csv(df_students)
data_schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [114]:
data_students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [115]:
SchoolStudentData =pd.merge(data_students_df, data_schools_df, how="left", on="school_name")
SchoolStudentData.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [116]:
# District Summary

In [ ]:
#varables

In [117]:
# Total Number of unique schools
UniqueSchools = data_schools_df["school_name"].value_counts()
print(sum(UniqueSchools))

15

In [118]:
# Total Number of students
T_N_S= data_students_df["student_name"].count()

#T_N_S= data_students_df["student_name"].describe() can give me the answer i want. 
#However it will give me more information then i need 

print(T_N_S)

39170

In [133]:
#Total_Budget
Total_Budget= data_schools_df["budget"].sum()
print(Total_Budget)

24649428

In [136]:
#Average Math score
avg_math_score= SchoolStudentData["math_score"].mean()
print(avg_math_score)

78.98537145774827

In [138]:
#Average Reading Score
Avg_reading_score = SchoolStudentData["reading_score"].mean()
print(Avg_reading_score)

81.87784018381414

In [142]:
# percentage of students who passed math above or equal to 70
passing_math = SchoolStudentData[(SchoolStudentData["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math / float(T_N_S) * 100
print(passing_math_percentage)

74.9808526933878

In [143]:
#percentage of students who passed reading 
passing_reading = SchoolStudentData[(SchoolStudentData["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_math / float(T_N_S) * 100
print(passing_reading_percentage)

74.9808526933878

In [145]:
#students that passed Math and reading percentage

passing_math_reading = SchoolStudentData[
    (SchoolStudentData["math_score"] >= 70) & (SchoolStudentData["reading_score"] >= 70)
].count()["student_name"]

overall_passing_rate = passing_math_reading /  float(T_N_S) * 100

print(overall_passing_rate)

65.17232575950983

In [153]:
#Snapshot of Districts Key information 

#Formating the dataframe
#district_summary["T_N_S"] = district_summary["T_N_S"].map("{:,}".format)
#district_summary["avg_math_score"] = district_summary["avg_math_score"].map("{:,}".format)
#district_summary["passing_math"] = district_summary["passing_math"].map("${:,.2f}".format 
#district_summary["Avg_reading_score"] = district_summary["Avg_reading_score"].map("{:,}".format)
#district_summary["passing_reading_percentage"] = district_summary["passing_reading_percentage"].map("${:,.2f}".format
#district_summary["overall_passing_rate"] = district_summary["overall_passing_rate"].map("{:,}".format)
                                                                                                    
#print(district_summary)                                                                                                    
#come back to when i understand formatting better

In [154]:
#school Summary

In [157]:
school_types = SchoolStudentData.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [ ]:
#Total student count